<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhoneManagerment_LINQtoSQL.Properties.Settings.PhoneDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=PhoneDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PhoneManagerment_LINQtoSQL.Properties.Settings.PhoneDBConnectionString1"
            connectionString="Data Source=MSI;Initial Catalog=PhoneDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PhoneManagerment_LINQtoSQL.Properties.Settings.PhoneDBConnectionString2"
            connectionString="Data Source=Noice;Initial Catalog=PhoneDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PhoneManagerment_LINQtoSQL.Properties.Settings.PHONEDBMSConnectionString"
            connectionString="Data Source=Noice;Initial Catalog=PHONEDBMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>